//Colors
$background-color: #F3F5F7;
$base-color:#00B372;
//Fonts
$font-color-base: #181F1C;
$font-family-base: "LatoWeb";
$font-family-lato-Medium: "LatoWebMedium";
$font-family-lato-semi-bold: "LatoWebSemibold";

body {
  //background-color: $background-color;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-rendering: auto;
}

.tooltip-inner{
  box-shadow: 0 20px 40px 6px #d9dee2;
  border-radius: 3px;
  background-color: #ffffff;
  color: #181f1c;
  font-family: "LatoWeb";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.13px;
  padding: 15px;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before{
  border-top-color:#ffffff;
}

//SCSS COMPONENTS //

@mixin cta-btn-gluu(){
  background-color: $base-color;
  color: #FFFFFF;
  font-family: $font-family-base;
  font-size: 16px;
  padding: 10px 12px;
  border: none;
  border-radius: 3px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

@mixin text($text-size, $text-color, $text-font ){
  color: $text-color;
  font-size: $text-size;
  font-family: $text-font;
}

%input-select {
  color: $font-color-base;
  border: 1px solid #EEF1F2;
  border-radius: 3px;
  box-shadow: none;
  padding: 9px 14px;
}

%primary-btn{
  background-color: #f1f5f9;
  font-family: $font-family-lato-Medium;
  color: #434947;
  border-radius: 3px;
  border: 1px solid #E0E5E5;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-size: 14px;
  padding: 10px 12px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(241,244,246,1);
  -moz-box-shadow: 0px 1px 2px 0px rgba(241,244,246,1);
  box-shadow: 0px 1px 2px 0px rgba(241,244,246,1);
}

// Navbar Component //

#nav-container {
  background-color: white;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,1);
  -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,1);
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.03);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid #F5F7F9;
  z-index: 3;
  position: relative;
}

.navbar-light .navbar-toggler,
.navbar-light .navbar-toggler:focus{
  border: none;
  outline:none;
}

.navbar-nav .nav-item-gluu .nav-link{
  @include text(16px, $font-color-base, $font-family-lato-Medium);
  transition: 0.2s;

}
.navbar-nav .nav-item-gluu .nav-link:hover{
  @include text(16px, rgba(0, 0, 0, 0.6), $font-family-lato-Medium);
  transition: 0.2s;
}

#nav_collapse > ul.navbar-nav.ml-auto > li:nth-child(1) > a > button{
  @include cta-btn-gluu();
}

.navbar-nav .nav-icon-container-gluu{
  background-color: #F6F6F6;
  color: #A4AAA8;
  height: 40px;
  display: flex;
  border-radius: 25px;
  width: 40px;
  padding: 10px;
}

.navbar-nav .nav-icon-gluu{
  width: 20px;
  height: 20px;
}

#nav-tabs-container{
  background-color: white;
  border: 1px solid #EBEBEB;
  z-index: 1;
  position: relative;
  bottom: 1px;
  padding: 0.5em 0 0 0;
}

#nav-tabs-container .dropdown-menu.show{
    border: none;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(221,228,226,1);
    -moz-box-shadow: 0px 20px 40px 0px rgba(221,228,226,1);
    box-shadow: 0px 20px 40px 0px rgba(221,228,226,1);
}

#nav-tabs-container .dropdown-toggle-no-caret,
#nav-tabs-container .dropdown-toggle-no-caret:focus{
  text-decoration: none;
  transition: 0.2s;
  @include text(16px, $font-color-base, $font-family-lato-Medium);
  border-radius: 0;
  padding: 6px 0;
}

#nav-tabs-container .dropdown-toggle-no-caret:hover{
  border-bottom: 2px solid #00B372;
  text-decoration: none;
  transition: 0.2s;
  @include text(16px, $base-color, $font-family-lato-Medium);
}


#nav-tabs-container li > a{
  color: #181F1C;
}

#avatar-nav-dropdown{
  button{
    padding: 0;
  }
  svg{
    display: none;
  }
  .dropdown-menu.show{
    left: -6em !important;
    top: 0.5em !important;
    border: none;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(221,228,226,1);
    -moz-box-shadow: 0px 20px 40px 0px rgba(221,228,226,1);
    box-shadow: 0px 20px 40px 0px rgba(221,228,226,1);
  }
}

#support-nav-dropdown{
  button{
    padding: 0;
  }
  svg{
    display: none;
  }
  .dropdown-menu.show{
    left: -9em !important;
    top: 0.5em !important;
    border: none;
    -webkit-box-shadow: 0px 20px 40px 0px rgba(221,228,226,1);
    -moz-box-shadow: 0px 20px 40px 0px rgba(221,228,226,1);
    box-shadow: 0px 20px 40px 0px rgba(221,228,226,1);
  }
}


//Sidebar Component//

.card-gluu{
  background-color: #FFFFFF;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(236,239,242,1);
  -moz-box-shadow: 0 2px 4px 0 rgba(236,239,242,1);
  box-shadow: 0 2px 4px 0 rgba(236,239,242,1);
}

.card-gluu .card-subtitle-gluu{
  @include text(16px,$font-color-base, $font-family-lato-Medium);
}

#sidebar-container .dropdown-toggle,
#sidebar-container .dropdown-toggle:focus{
  color: $font-color-base;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #EEF1F2;
  border-radius: 3px;
  box-shadow: none;
  padding: 9px 14px;
}

#sidebar-container .dropdown-toggle::after{
  color: #C7CECB;
}

#sidebar-container .b-dropdown{
  width: 100%;
}

.select-tags-gluu{
  border: 1px solid #EEF1F2;
  border-radius: 3px;
}

.select-tags-gluu.multiselect--active{
  border: 1px solid #00B372;
  border-radius: 3px;
  caret-color: #00B372;
}

.multiselect__single{
  margin-bottom: 0;
}

.multiselect__select{
  padding: 9px 14px;
}

.multiselect__select:before{
  display: none;
}

.single-select .multiselect__select:before{
  display: initial;
}

.multiselect__tags{
  border: none;
  padding: 9px 14px;
  border-radius: 3px;
}

.multiselect__placeholder{
  margin-bottom: 0;
  padding-top: 0;
  color: #6A7570;
}

 .multiselect__input{
  max-width: 100%;
  @include text(15px, $font-color-base, $font-family-lato-Medium)
}

#sidebar-container div.card.card-gluu.mt-lg-4 > div{
  padding: 0;
}

#sidebar-container .card-title-gluu{
  background-color: white;
  padding: 1.25rem;
  @include text(20px, $font-color-base, $font-family-lato-semi-bold);
}

#sidebar-container .card-labels-gluu{
  @include text(16px, $font-color-base, $font-family-lato-Medium);
}

// Tickets Page Component //
#tickets-page-container{

  // Ticket List Component //

  #ticket-list-container {

    #search-container{

      #search-bar-container {

        @extend %input-select;
        display: flex;
        justify-content: space-between;
        padding: 0;
        background-color: white;

        input,
        input:focus{
          margin-left: 16px;
          width: 80%;
          border: none;
          background-color: transparent;
          padding: 0;
          box-shadow: none;
        }

        span {
          background-color: $base-color;
          padding: 0.5em 0.8em;
          border-radius: 0 3px 3px 0;
          cursor: pointer;
        }

        span:hover{

        }
      }

      #tags-container{
        .tags-container-tag-gluu{
          background-color: white ;
          color: #41b883;
          .multiselect__tag-icon{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            box-shadow: none;
            outline: none;
          }
          .multiselect__tag-icon:focus, .multiselect__tag-icon:hover{
            background: transparent;
          }
          .multiselect__tag-icon:after{
            color:#41b883;
            font-size: 19px;
          }
        }
      }


      #order-by-select-container {

        label{
          margin-bottom: 0;
          margin-right: 0.5em;
          @include text(14px,$font-color-base,$font-family-lato-Medium);
        }

        .select-tags-gluu {
          border: 1px solid #DADDDE;
          width: 50%;

          .multiselect__select:before{
            display: initial;
          }

        }

      }

    }

    // Ticket Component //

    #tickets-container{

      .card-gluu{
        -webkit-box-shadow: 0 15px 30px 0 rgba(215,220,225,1);
        -moz-box-shadow: 0 15px 30px 0 rgba(215,220,225,1);
        box-shadow: 0 15px 30px 0 rgba(215,220,225,1);

        .card-body{

          display: flex;
          padding: 0;

          .card-left-side-gluu{

            padding: 17px 30px;
            border-right: 1px solid #EFF2F4;

            img{
              width: 54px;
            }

            .card-left-side-info-name-gluu{
              @include text(13px, $font-color-base, $font-family-lato-semi-bold);
            }

            .card-left-side-info-company-gluu{
              @include text(12px, #787E7B, $font-family-base);
            }

            .card-left-side-info-type-gluu{
              @include text(12px, $font-color-base, $font-family-base);
            }

          }

          .card-right-side-gluu {

            padding: 27px 20px;
            flex: 1;

            .card-right-side-badge-container{
              span{
                margin: 0 0.25em;
              }
            }

            .card-right-side-issue-title-gluu{
              @include text(18px, $base-color, $font-family-lato-Medium);
              margin-top: 17px;
              margin-bottom: 12px;
            }

            .card-right-side-issue-details-gluu{

              .card-right-side-issue-details-number-gluu{
                @include text(14px, $base-color, $font-family-lato-Medium);
              }

              .card-right-side-issue-details-time-gluu,
              .card-right-side-issue-details-date-gluu{
                @include text(12px, $font-color-base, $font-family-base);
              }


            }

            .card-right-right-side-gluu{
              label{
                display: flex;
                margin-bottom: 16px;
                @include text(14px, $font-family-base, $font-color-base);

                img{
                  margin: 0 0.5em;
                }
              }
            }

          }

        }

      }

    }

    // Ticket Footer

    #tickets-footer{
      margin-top: 3em;

      #pagination-container{

        label{
          margin-bottom: 0;
          margin-right: 0.5em;
          @include text(14px,$font-color-base,$font-family-lato-Medium);
        }

        .select-tags-gluu {
          border: 1px solid #DADDDE;
          width: auto;

          .multiselect__select{
            padding: 0;
          }

          .multiselect__tags{
            span{
              padding: 0;
              margin: 0;
            }
          }

          .multiselect__select:before{
            display: initial;
          }

        }

        .pagination-container-second-span{
          @include text(15px,#787E7B, $font-family-lato-Medium);
          margin-left: 0.5em;
        }
      }

      #show-results-container{

        .b-pagination{

          margin-bottom: 0;

          li:first-child,
          li:nth-child(2),
          li:nth-last-child(2){
            display: none;
          }

          .page-item{
            margin: 0 0.38em;
            .page-link{
              width: 36px;
              height: 36px;
              border-radius: 3px;
              border: 1px solid #daddde;
              background-color: #ffffff;
              @include text(15px, $font-color-base, $font-family-lato-Medium);
            }
          }

          .page-item[role=separator]{
            .page-link{
              background-color: transparent;
              border: none;
              padding: 0 12px;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
            }
          }

          li:last-child{
            .page-link{
              width: 100%;
              @include cta-btn-gluu();
            }
          }

        }
      }
    }
  }

}

// Ticket Details Page Component //

#ticket-details-page-container{

  p{
    font-size: 15px;
  }

  #breadcrumbs-container{
    .first-page{
      @include text(16px,#787E7B, $font-family-lato-Medium);
      text-decoration: none;
    }
    .second-page{
      @include text(16px, $base-color, $font-family-lato-Medium);
      text-decoration: none;
    }
    .third-page{
      @include text(16px,$font-color-base, $font-family-lato-Medium);
      text-decoration: none;
    }
  }

  #content-container{

    //Section Components//

    $gutter: 100px;
    $border-width: 2px;
    $dot-diameter: 8px;

    .timeline {
      width:100%;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left:2em;
        bottom: 0;
        width: $border-width;
        background: #ddd;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .entry:last-child{
      .title{
        margin-bottom: 0;
      }
      .body{
        margin-top: 1em;
      }
    }

    .entry {
      clear: both;
      text-align: left;
      position: relative;
      display: flex;
      align-items: center;
      .title {
        margin: 1em 0;
        float: left;
        text-align: right;
        position: relative;
        display: flex;
        align-items: center;
        left: 1em;
        width: fit-content;
      }
      .body {
       margin-left: 2em;
        img{
          width: 80%;
        }
        @include text(14px, $font-family-base, #434947);
      }
    }

    .tooltip-inner{
      box-shadow: 0 20px 40px 6px #d9dee2;
      border-radius: 3px;
      background-color: #ffffff;
      color: #181f1c;
      font-family: "LatoWeb";
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.13px;
    }

    //Sections//

      #ticket-details-content-header-container{

        .ticket-details-header{
          @include text(24px, $font-family-base, $font-color-base);
          span{
            @include text(24px, $font-family-base, #787E7B);
          }
        }

        .ticket-details-subheader{
          img{
            -webkit-box-shadow: 0px 1px 2px 0px rgba(241,244,246,1);
            -moz-box-shadow: 0px 1px 2px 0px rgba(241,244,246,1);
            box-shadow: 0px 1px 2px 0px rgba(241,244,246,1);
          }
          .primary-btn-gluu{
            @extend %primary-btn;
            padding: 0.4em 1.5em;
            margin-left: 0.5em;
          }
        }

      }

      .ticket-details-content-container{

        .see-more-link{
         margin-left: 1em;
          @include text(14px, $font-family-lato-semi-bold, #5D91F0)
        }

        .card{

            border: 1px solid #E3E7EA;

            .card-header{

              @include text(14px, #434947, $font-family-base);
              background-color: #F1F5F9;

              .ticket-details-content-copy-link-btn-gluu,
              .ticket-details-content-copy-link-btn-gluu:focus,
              .ticket-details-content-edit-btn-gluu:focus,
              .ticket-details-content-edit-btn-gluu{
                @include text(14px, #434947, $font-family-lato-semi-bold);
                background-color: transparent;
                border: none;
                box-shadow:none;
                -webkit-box-shadow: none;
                padding: 3px 12px;
              }
              .ticket-details-content-ellipsis-icon-gluu{
                padding: 3px 12px;
                cursor: pointer;
              }
            }

        }

      }

      .user-details-container{

        .card-left-side-gluu{

          padding: 0;

          img{
            width: 54px;
          }

          .card-left-side-info-name-gluu{
            @include text(13px, $font-color-base, $font-family-lato-semi-bold);
          }

          .card-left-side-info-company-gluu{
            @include text(12px, #787E7B, $font-family-base);
          }

          .card-left-side-info-type-gluu{
            @include text(12px, $font-color-base, $font-family-base);
          }

          .card-left-side-info-usertype-gluu{
            @include cta-btn-gluu;
            padding: 2px 10px;
            color: #ffffff;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            width: fit-content;
          }

        }

      }

      #post-a-response-container{
        padding: 2em;
        background-color: #F8F9FB;
        border: 1px solid #E3E7EA;
        border-radius: 3px;
        .post-a-response-container-header{
          @include text(22px, $font-color-base , $font-family-base);
        }
        .post-a-response-container-label{
          @include text(15px, #434947, $font-family-lato-Medium);
        }
        .multiselect__tags{
          background: transparent;
          border: 1px solid #DADFE2;
          border-radius: 3px;
          .multiselect__single,
          input{
            background: transparent;
          }
        }
        .cta-btn-gluu,
        .cta-btn-gluu:focus{
          @include cta-btn-gluu();
          padding: 7px 12px;
          margin-right: .9em;
          box-shadow: none;
        }
        .secondary-btn-gluu,
        .secondary-btn-gluu:focus{
          background-color: #FFFFFF;
          border: 1px solid #EDEDED;
          padding: 7px 12px;
          color: #787E7B;
          box-shadow: none;
        }
      }

  }
}



