.custom-checkbox{
    .custom-control-input:focus ~ .custom-control-label::before{
        box-shadow: none;
        -webkit-box-shadow:none;
    }
    .custom-control-label{
        font-size: 16px;
        color: #181F1C;
        font-family: "LatoWebSemibold";

    }
    .custom-control-label::before{
        border-radius: 2px !important;
    }
    .custom-control-input:not(:disabled):active ~ .custom-control-label::before{
        border: #adb5bd solid 1px;
        background-color: transparent;
    }
    .custom-control-input:checked ~ .custom-control-label::before{
        color: #fff;
        border-color: #00B372;
        background-color: #00B372;
    }
    .custom-control-input:focus:not(:checked) ~ .custom-control-label::before{
        border: #adb5bd solid 1px;
    }
}